@model MegSWSApplication.ViewModel.BDViewModel;

@{
    ViewBag.CurrentAction = "BasicDetails"; // Or RevenueProjections, etc.
}
@Html.Partial("~/Views/Shared/Partials/IndustryRegTabs.cshtml", new { currentAction = ViewBag.CurrentAction })

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Basic Details</h5>
    
        @using (Html.BeginForm("SaveIndustryDetails", "Industry", FormMethod.Post, new { @id = "basicDetailsForm" }))
    {
        @Html.AntiForgeryToken()

        <div class="row mb-3">
            <div class="col-md-4">
                    @Html.LabelFor(m => m.IndsDetails.CompanyName, "Company Name", new { @class = "form-label" })
                @Html.TextBoxFor(m => m.IndsDetails.CompanyName, new { @class = "form-control" })
            </div>
            <div class="col-md-4">
                    @Html.LabelFor(m => m.IndsDetails.CompanyPAN, "Company PAN", new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.IndsDetails.CompanyPAN, new { @class = "form-control" })
            </div>
            <div class="col-md-4">
                    @Html.LabelFor(m => m.IndsDetails.CompnyRegDt, "Company Registration Date", new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.IndsDetails.CompnyRegDt, new { @class = "form-control", @type = "date" })
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-4">
                    @Html.LabelFor(m => m.IndsDetails.CompnyType, "Company Type", new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.IndsDetails.CompnyType, new { @class = "form-control" })
            </div>
            <div class="col-md-4">
                    @Html.LabelFor(m => m.IndsDetails.CompnyProposal, "Company Proposal Type", new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.IndsDetails.CompnyProposal, new { @class = "form-control" })
            </div>
            <div class="col-md-4">
                    @Html.LabelFor(m => m.IndsDetails.UdyamorIEMNo, "Udyam / IEM Number", new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.IndsDetails.UdyamorIEMNo, new { @class = "form-control" })
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-4">
                    @Html.LabelFor(m => m.IndsDetails.GSTNo, "GST Number", new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.IndsDetails.GSTNo, new { @class = "form-control" })
            </div>
            <div class="col-md-4">
                    @Html.LabelFor(m => m.IndsDetails.RegistrationType, "Registration Type", new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.IndsDetails.RegistrationType, new { @class = "form-control" })
            </div>
            <div class="col-md-4">
                    @Html.LabelFor(m => m.IndsDetails.RegistrationNo, "Registration Number", new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.IndsDetails.RegistrationNo, new { @class = "form-control" })
            </div>
        </div>

        <h5>Correspondence Details of Authorised Representative</h5>

        <div class="row mb-3">
            <div class="col-md-4">
                    @Html.LabelFor(m => m.IndsDetails.AuthReprName, "Name", new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.IndsDetails.AuthReprName, new { @class = "form-control" })
            </div>
            <div class="col-md-4">
                    @Html.LabelFor(m => m.IndsDetails.AuthReprMobile, "Mobile", new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.IndsDetails.AuthReprMobile, new { @class = "form-control" })
            </div>
            <div class="col-md-4">
                    @Html.LabelFor(m => m.IndsDetails.AuthReprEmail, "Email", new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.IndsDetails.AuthReprEmail, new { @class = "form-control" })
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-4">
                    @Html.LabelFor(m => m.IndsDetails.AuthReprLocality, "Locality", new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.IndsDetails.AuthReprLocality, new { @class = "form-control" })
            </div>
            <div class="col-md-4">
                    @Html.LabelFor(m => m.IndsDetails.DoorNo, "Door No.", new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.IndsDetails.DoorNo, new { @class = "form-control" })
            </div>
            <div class="col-md-4">
                    @Html.LabelFor(m => m.IndsDetails.REP_STATEID, "State", new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.IndsDetails.REP_STATEID, new { @class = "form-control" })
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-4">
                    @Html.LabelFor(m => m.IndsDetails.AuthReprDistID, "District", new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.IndsDetails.AuthReprDistID, new { @class = "form-control" })
            </div>
            <div class="col-md-4">
                    @Html.LabelFor(m => m.IndsDetails.AuthReprTalukaID, "Mandal", new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.IndsDetails.AuthReprTalukaID, new { @class = "form-control" })
            </div>
            <div class="col-md-4">
                    @Html.LabelFor(m => m.IndsDetails.AuthReprVillageID, "Village", new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.IndsDetails.AuthReprVillageID, new { @class = "form-control" })
            </div>
        </div>
        <div class="row mb-3">
        <div class="col-md-4">
                    @Html.LabelFor(m => m.IndsDetails.AuthReprPincode, "Pincode", new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.IndsDetails.AuthReprPincode, new { @class = "form-control" })
            </div>        
        </div>

     <h5>Location of Unit</h5>

            <div class="row mb-3">
                <div class="col-md-4">
                    @Html.Label("Is Land Required", "Is Land Required *", new { @class = "form-label" })
                    <div>
                        @Html.RadioButton("IsLandRequired", "Own Land", true) Own Land
                        @Html.RadioButton("IsLandRequired", "Required") Required
                    </div>
                </div>
            </div>

            @* <div class="row mb-3">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.DoorNo, "Door No.", new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.DoorNo, new { @class = "form-control" })
                </div>

                <div class="col-md-4">
                    @Html.LabelFor(m => m.Locality, "Locality *", new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.Locality, new { @class = "form-control" })
                </div>

                <div class="col-md-4">
                    @Html.LabelFor(m => m.District, "District *", new { @class = "form-label" })
                    @Html.DropDownListFor(m => m.District, Model.DistrictList, "-- Select District --", new { @class = "form-control" })
                </div>
            </div>
 *@
           @*  <div class="row mb-3">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.Taluka, "Taluka *", new { @class = "form-label" })
                    @Html.DropDownListFor(m => m.Taluka, Model.TalukaList, "-- Select Taluka --", new { @class = "form-control" })
                </div>

                <div class="col-md-4">
                    @Html.LabelFor(m => m.Village, "Village *", new { @class = "form-label" })
                    @Html.DropDownListFor(m => m.Village, Model.VillageList, "-- Select Village --", new { @class = "form-control" })
                </div>

                <div class="col-md-4">
                    @Html.LabelFor(m => m.PinCode, "Pin Code *", new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.PinCode, new { @class = "form-control" })
                </div>
            </div> *@
    

    

        <div class="d-flex justify-content-between mt-4">
            <button type="submit" class="btn btn-secondary" name="action" value="saveDraft">Save as Draft</button>
            <button type="submit" class="btn btn-primary" name="action" value="next">Next</button>
        </div>
    }
    </div>
</div>