@model MegSWSApplication.ViewModel.BDViewModel;

@{
    ViewBag.CurrentAction = "BasicDetails"; // Or RevenueProjections, etc.
}
@Html.Partial("~/Views/Shared/Partials/IndustryRegTabs.cshtml", new { currentAction = ViewBag.CurrentAction })

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Basic Details</h5>
    
        @using (Html.BeginForm("BasicDetails", "IndustryReg", FormMethod.Post, new { @id = "basicDetailsForm" }))
    {
        @Html.AntiForgeryToken()

        <div class="row mb-3">
            <div class="col-md-4">
                    @Html.LabelFor(m => m.IndsDetails.CompanyName, "Company Name", new { @class = "form-label" })
                @Html.TextBoxFor(m => m.IndsDetails.CompanyName, new { @class = "form-control" })
            </div>
            <div class="col-md-4">
                    @Html.LabelFor(m => m.IndsDetails.CompanyPAN, "Company PAN", new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.IndsDetails.CompanyPAN, new { @class = "form-control" })
            </div>
            
        </div>

        <div class="row mb-3">
            <div class="col-md-4">
                    @Html.LabelFor(m => m.IndsDetails.CompnyType, "Company Type", new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.IndsDetails.CompnyType, new { @class = "form-control" })
            </div>
            <div class="col-md-4">
                    @Html.LabelFor(m => m.IndsDetails.CompnyProposal, "Company Proposal Type", new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.IndsDetails.CompnyProposal, new { @class = "form-control" })
            </div>
           
        </div>

        <div class="row mb-3">
            <div class="col-md-4">
                    @Html.LabelFor(m => m.IndsDetails.GSTNo, "GST Number", new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.IndsDetails.GSTNo, new { @class = "form-control" })
            </div>
           
        </div>


        <h5>Correspondence Details of Authorised Representative</h5>

        <div class="row mb-3">
            <div class="col-md-4">
                    @Html.LabelFor(m => m.IndsDetails.AuthReprName, "Name", new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.IndsDetails.AuthReprName, new { @class = "form-control" })
            </div>
            <div class="col-md-4">
                    @Html.LabelFor(m => m.IndsDetails.AuthReprMobile, "Mobile", new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.IndsDetails.AuthReprMobile, new { @class = "form-control" })
            </div>
            <div class="col-md-4">
                    @Html.LabelFor(m => m.IndsDetails.AuthReprEmail, "Email", new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.IndsDetails.AuthReprEmail, new { @class = "form-control" })
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-4">
                    @Html.LabelFor(m => m.IndsDetails.AuthReprLocality, "Locality", new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.IndsDetails.AuthReprLocality, new { @class = "form-control" })
            </div>
            <div class="col-md-4">
                    @Html.LabelFor(m => m.IndsDetails.AutoDoorNo, "Door No.", new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.IndsDetails.AutoDoorNo, new { @class = "form-control" })
            </div>
            <div class="col-md-4">
                    @Html.LabelFor(m => m.IndsDetails.AutoState, "State", new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.IndsDetails.AutoState, new { @class = "form-control" })
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-4">
                    @Html.LabelFor(m => m.IndsDetails.AuthReprDistID, "District", new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.IndsDetails.AuthReprDistID, new { @class = "form-control" })
            </div>
            <div class="col-md-4">
                    @Html.LabelFor(m => m.IndsDetails.AuthReprTalukaID, "Mandal", new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.IndsDetails.AuthReprTalukaID, new { @class = "form-control" })
            </div>
            <div class="col-md-4">
                    @Html.LabelFor(m => m.IndsDetails.AuthReprVillageID, "Village", new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.IndsDetails.AuthReprVillageID, new { @class = "form-control" })
            </div>
        </div>
        <div class="row mb-3">
        <div class="col-md-4">
                    @Html.LabelFor(m => m.IndsDetails.AuthReprPincode, "Pincode", new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.IndsDetails.AuthReprPincode, new { @class = "form-control" })
            </div>        
        </div>

     <h5>Location of Unit</h5>

            <div class="row mb-3">
                <div class="col-md-4">
                    @Html.Label("Is Land Required", "Is Land Required *", new { @class = "form-label" })
                    <div>
                        @Html.RadioButtonFor(m => m.IndsDetails.LandType, "Own Land", new { id = "landOwn" })
                        <label for="landOwn">Own Land</label>

                        @Html.RadioButtonFor(m => m.IndsDetails.LandType, "Required", new { id = "landRequired" })
                        <label for="landRequired">Required</label>
                    </div>



                    
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.IndsDetails.PropLocDoorno, "Door No.", new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.IndsDetails.PropLocDoorno, new { @class = "form-control" })
                </div>

                <div class="col-md-4">
                    @Html.LabelFor(m => m.IndsDetails.PropLocLocality, "Locality *", new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.IndsDetails.PropLocLocality, new { @class = "form-control" })
                </div>

                <div class="col-md-4">
                    @Html.LabelFor(m => m.IndsDetails.PropLocDist, "District *", new { @class = "form-label" })
                    @Html.DropDownListFor(m => m.IndsDetails.PropLocDist, Model.Districts, "-- Select District --", new { @class = "form-control", onchange = "this.form.submit();" })
                    @* @Html.DropDownListFor(m => m.IndsDetails.PropLocDist, Model.Districts, "-- Select District --", new { @class = "form-control" }) *@
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.IndsDetails.PropLocTaluka, "Taluka *", new { @class = "form-label" })
                    @Html.DropDownListFor(m => m.IndsDetails.PropLocTaluka, Model.Talukas, "-- Select Taluka --", new { @class = "form-control", onchange = "this.form.submit();" })
                    
                </div>

                <div class="col-md-4">
                    @Html.LabelFor(m => m.IndsDetails.PropLocVillage, "Village *", new { @class = "form-label" })
                    @Html.DropDownListFor(m => m.IndsDetails.PropLocVillage, Model.Villages, "-- Select Village --", new { @class = "form-control", onchange = "this.form.submit();" })
                </div>

                <div class="col-md-4">
                    @Html.LabelFor(m => m.IndsDetails.PropLocPincode, "Pin Code *", new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.IndsDetails.PropLocPincode, new { @class = "form-control" })
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.IndsDetails.NatureofActivity, "NatureofActivity.", new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.IndsDetails.NatureofActivity, new { @class = "form-control" })
                </div>

                <div class="col-md-4">
                    @Html.LabelFor(m => m.IndsDetails.ManfActivity, "ManfActivity *", new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.IndsDetails.ManfActivity, new { @class = "form-control" })
                </div>

                <div class="col-md-4">
                    @Html.LabelFor(m => m.IndsDetails.ServiceActivity, "ServiceActivity *", new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.IndsDetails.ServiceActivity, new { @class = "form-control" })
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(m => m.IndsDetails.ServiceTobeProviding, "ServiceTobeProviding *", new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.IndsDetails.ServiceTobeProviding, new { @class = "form-control" })
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(m => m.IndsDetails.ProductionNO, "ProductionNO *", new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.IndsDetails.ProductionNO, new { @class = "form-control" })
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(m => m.IndsDetails.ServiceNo, "ServiceNo *", new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.IndsDetails.ServiceNo, new { @class = "form-control" })
                </div>

                <div class="col-md-4">
                    @Html.LabelFor(m => m.IndsDetails.ProductManufactured, "ProductManufactured *", new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.IndsDetails.ProductManufactured, new { @class = "form-control" })
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(m => m.IndsDetails.AnnualCapacity, "AnnualCapacity *", new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.IndsDetails.AnnualCapacity, new { @class = "form-control" })
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(m => m.IndsDetails.MeasurementUnits, "MeasurementUnits *", new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.IndsDetails.MeasurementUnits, new { @class = "form-control" })
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(m => m.IndsDetails.ProjectDCP, "ProjectDCP *", new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.IndsDetails.ProjectDCP, new { @class = "form-control" })
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(m => m.IndsDetails.CivilConstr, "CivilConstr *", new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.IndsDetails.CivilConstr, new { @class = "form-control" })
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(m => m.IndsDetails.PlantnMachineryCost, "PlantnMachineryCost *", new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.IndsDetails.PlantnMachineryCost, new { @class = "form-control" })
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(m => m.IndsDetails.BuildingAreaSqm, "BuildingAreaSqm *", new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.IndsDetails.BuildingAreaSqm, new { @class = "form-control" })
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(m => m.IndsDetails.WaterReqKLD, "WaterReqKLD *", new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.IndsDetails.WaterReqKLD, new { @class = "form-control" })
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(m => m.IndsDetails.PowerReqKV, "PowerReqKV *", new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.IndsDetails.PowerReqKV, new { @class = "form-control" })
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(m => m.IndsDetails.WasteDetails, "WasteDetails *", new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.IndsDetails.WasteDetails, new { @class = "form-control" })
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(m => m.IndsDetails.HazWasteDetails, "HazWasteDetails *", new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.IndsDetails.HazWasteDetails, new { @class = "form-control" })
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(m => m.IndsDetails.CapitalInvestment, "CapitalInvestment *", new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.IndsDetails.CapitalInvestment, new { @class = "form-control" })
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(m => m.IndsDetails.FixedAssets, "FixedAssets *", new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.IndsDetails.FixedAssets, new { @class = "form-control" })
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(m => m.IndsDetails.LandValue, "LandValue *", new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.IndsDetails.LandValue, new { @class = "form-control" })
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(m => m.IndsDetails.BuildingValue, "BuildingValue *", new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.IndsDetails.BuildingValue, new { @class = "form-control" })
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(m => m.IndsDetails.WorkingCapital, "WorkingCapital *", new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.IndsDetails.WorkingCapital, new { @class = "form-control" })
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(m => m.IndsDetails.EquityAmount, "EquityAmount *", new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.IndsDetails.EquityAmount, new { @class = "form-control" })
                </div><div class="col-md-4">
                    @Html.LabelFor(m => m.IndsDetails.UnsecuredLoan, "UnsecuredLoan *", new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.IndsDetails.UnsecuredLoan, new { @class = "form-control" })
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(m => m.IndsDetails.CetralSchemeAmount, "CetralSchemeAmount *", new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.IndsDetails.CetralSchemeAmount, new { @class = "form-control" })
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(m => m.IndsDetails.StateSchemeAmount, "StateSchemeAmount *", new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.IndsDetails.StateSchemeAmount, new { @class = "form-control" })
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(m => m.IndsDetails.Sector, "Sector *", new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.IndsDetails.Sector, new { @class = "form-control" })
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(m => m.IndsDetails.LineofAct, "LineofAct *", new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.IndsDetails.LineofAct, new { @class = "form-control" })
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(m => m.IndsDetails.pollutionCatgy, "pollutionCatgy *", new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.IndsDetails.pollutionCatgy, new { @class = "form-control" })
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(m => m.IndsDetails.workingLoan, "workingLoan *", new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.IndsDetails.workingLoan, new { @class = "form-control" })
                </div>


            </div>

    

        <div class="d-flex justify-content-between mt-4">
            <button type="submit" class="btn btn-secondary" name="action" value="saveDraft">Save as Draft</button>
            <button type="submit" class="btn btn-primary" name="action" value="next">Next</button>
        </div>

    }
    </div>
</div>